<html>
   <body>
         <h3>Ballmer's Peak is BROUGHT TO YOU BY THE DANK MEME MEN.</h3>
         <h3> What is a Ballmer's Peak?? </h3>
         <p> A Ballmer's Peak is the peak in our coding abilities that comes once we hit a certain BAC level. Basically, for this, we drink some shit, then we have to code some shit, and probably have to solve some other shit. </p>

         <p>remember, always be safe. Don't fucking yakk in the dorm. Drinking is fun and it's not really a competition how much you drink (tbh it kinda is), so don't be stupud and kill yourself.</p>

         <h3>WHO R THE DANK MEME MEN??</h3>
         <p> Nick Francino. Our hero. Our idol. The subject of these word problems, and the subject of Dylan's love.
         </p>

         <p>
         Dylan Fox.
         </p>

         <p>
         Mike Williams.
         </p>

         <p>
         Tim Wang.
         </p>

         <p>
         Tim Z.
         </p>

         <p>
         Manny Garcia
         </p>

         <p>
         Mitchell Kager.
         </p>

         <p>
         Dante Stevens.
         </p>
   </body> 
</html>