<html>
   <body>
      
         <h2>Coding Question 2: Drug deeeeeler Nick SMAZBINO</h2>
         <h3>Worth: 8 points</h3>
         <p> Nick Smazbino has turned to devious ways in order to make money and survive being a broke college boy far far away from home. He has started selling ACES Freshmen crushed up grass, on the premise that it's some of that DANK goodness.
         </p>

         <p> A calculated genius, Nick has a keen eye for supply and demand, and has no control over the prices of the grass. In fact, he himself has to buy this grass from someone else. However, Nick has already worked out a scheme to buy this grass and sell this grass at optimal times so that, according to the market prices, he can make the maximum amount of profit. There is only one rule- because he doesn't want to draw too much heat from the college park POLICE, he decides not to buy and sell on the same day and per time window, only makes 1 buy and 1 sell of grass. 
         </p>

         <p> So, Nick enlists you to help him calculate how much profit he can make, assuming that Nick's scheme works perfectly and that he is, after all, human (meaning he cannot sell grass before he buys it). A method header and example has been provided:</p>

         <p> public int whatIsNicksProfit(List&lt;Integer&gt; timeWindow) {} </p>
         <p> Given [1, 10, 2, 2, 0] -> return 10. Nick buys his grass on day index 1, and sells on day index 4.</p>
         <p> Given [10, 9, 7, 4, 0] -> return 0. Given the market prices for this time window, Nick cannot hope to make any money so he doesn't do anything at all. </p>

         <p>
         Submit your solutions by emailing your method code to umd.ballmers.peak@gmail.com
         </p>
   </body> 
</html>