<html>
   <body>
      
         <h3>Coding Question 1</h3>
         <p> Nick Smazbino is trapped in a computer! He is stuck in the heap space, and between him and freedom 
         lies many arrays. To cross these arrays, our valiant hero Nick must abide by certain rules:
         </p>

         <p>
         1. Nick starts at the 0-ith index of each array. Given a value, x for example, in the array, Nick can only move a maximum of x steps forward into the array. 
         </p>
         <p>
         2. With each step, Nick can choose to either retain his previous amount of allocated steps, or reset and take the new value he is currently on as his maximum amount of available steps.
         </p>
         <p>
         3. If Nick cannot surpass the end of the array, he loses.
         </p>

         <p>
         Write a method where, given all of these arrays, determines whether or not Nick can reach or surpass the end. We have supplied the method header and example for you: </p>

         <p>
         private boolean canNickPass(int[][] array) {}
         </p>

         <p> Example (on a per-array basis): </p>
         <p>
         Given [1, -2, 2] -> return False, given [2, 10, 0, -1] -> return True
         </p>

         <p>
         Note that if Nick surpasses an array, for the next array he needs to cross, he starts at the 0-ith index again.
         </p>

         <p>
         Submit your solutions by emailing your method code to umd.ballmers.peak@gmail.com
         </p>
   </body> 
</html>